@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body {
    background: #042f4b;
}
.contenedor {
    margin: auto;
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    background: #fff6da;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-wrap: nowrap;
}
/*HEADER*/
.header h1{
    color: #7a7a7a;
    height: 100px;
    padding: 10px;
    font-family: 'Red Hat Display', sans-serif;
}

/*ELEMENTOS DE LISTA*/
.list_ejercicios ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
    list-style: none;
    background: orange;

}
.list_ejercicios li {
    padding-bottom: 6px;
    padding: 10px;
    border-bottom: 1px solid rgb(131, 131, 131);   
}

.list_ejercicios li:hover {
    background: #ffffff;
    transition: all .3s ease;
    box-shadow: 1px 1px 7px 1px;
}
/**/
ul .ejercicio1:hover p {
    display: block;
    /*padding: 10px;    */
}

ul .ejercicio2:hover p {
    display: block;
    /*padding: 10px;    */
}

p {
    display: none;
    padding: 20px;
}

.destacar {
    font-weight: bold;
    color: rgb(79, 99, 163);
}



