#main-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

#encabezado {
    width: 100%;
    height: 70px;
    border: 1px solid black;
    text-align: center;
}

#principal {
    display: flex;
    flex-wrap: nowrap;
}

#saldo-actual {
    float: left;
    width: 50%;
    height: 40px;
    background-color: rgb(137, 216, 137);
    border: 1px solid black;
}

#saldo-carrito {
    float: left;
    width: 50%;
    background-color: rgb(152, 152, 194);
    border: 1px solid black;
}

#carro-productos {
    display: flex;
    flex-direction: row;
}

.productos {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    background-color: rgb(193, 169, 216);
}